<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <div class="col-md-4 bio">
    <h1 class="about-title">
      About Me
    </h1>
    <div class="skills-bar">
      <p>I am a Jr. Developer located in the Seattle area. I received my General Associates Degree from Pierce College. I then started working full time when I tore my ACL playing basketball. I decided to go back to school and thats when I found my true passion for coding. I attended Epicodus in Seattle where I learned many skills including HTML, CSS, Javascript, jQuery, C#, git hub, pair programming and much more.</p>
      <p>my other passions include sports, snowboarding and movies.</p>
      <p>after graduating from Epicodus I took part in a internship at Sqwad Sports Inc. where I was tasked with styling and fixing functionality on the admin side of their web application. I am a team oriented hardworking individual with great leadership ability and quick to learn new things.</p>
    </div>
  </div>

  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add New Album to Inventory</h3>
  </div>
  <div class="panel-body">
    <div>
      <div>
        <label>Album Title:</label>
        <br>
        <input #newTitle>
      </div>

      <div>
        <label>Album Artist:</label>
        <br>
        <input #newArtist>
      </div>

      <div>
        <label>Album Description:</label>
        <br>
        <textarea #newDescription></textarea>
      </div>
      <button (click)="submitForm(newTitle.value, newArtist.value, newDescription.value); newTitle.value=''; newArtist.value=''; newDescription.value=''">Add</button>
    </div>
  </div>
</div>
</div>
